torch
transformers
accelerate
numpy
safetensors
sentencepiece
scipy
scikit-learn
huggingface-hub
datasets
tqdm
pandas
matplotlib
zstandard
lm-saes; python_version >= "3.11"
transformer-lens; python_version >= "3.11"
